.main-app {
    .page-title {
        padding: 20px 0;
        border-bottom: 1px solid #ddd;

        h1 {
            margin: 0;
        }
    }

    nav {
        .nav-wrapper {
            .brand-logo {
                margin-left: 10px;
            }
        }
    }

    .page-template-contact,
    .page-template-not-found {
        min-height: 500px;
    }

    .page-template-home {
        .hero {
            .hero-content {
                padding: 120px 0;

                h1 {
                    margin: 0;
                }
            }
        }
    }
}